HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# IDE folder
/.idea
/**/.idea

# Microsoft office Lockfiles
~$*
*.tmp

# Test files
test.*
*.test.*
/test

# Output of compiling
/out
/build
/target
/cmake-build-debug
# for QT, both as single directory and as subfolders
/build-*-*
/*/build-*-*

# Dealing with BlueJ
*.bluej
*.out
*.ctxt

# Dealing with Mac users
.DS_Store